**/logs
/Users/wvillarosa/Documents/github/javascript-challenge/Instructions & Rubric/Javascript_Grading_Rubric.pdf
/Users/wvillarosa/Documents/github/javascript-challenge/Instructions & Rubric/README.md